<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(  movies)}">
        <form th:action="@{/logout}" method="post">
            <h3 class="title">Movies Listing</h3>
            <div class="col-sm-2" style="padding-top: 10px;">
                     <span sec:authorize="isAuthenticated()">
                         <input type="submit" class="button" value="Sign Out"/>
                     </span>
            </div>
        </form>
        <div class="main-block">
            <h3 class="title">Movie List</h3>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th sec:authorize="hasAnyAuthority('USER','ADMIN')">View</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
                </tr>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.id}"><a href="/movie/${movie.id}">Id</a></td>
                    <td th:text="${movie.name}">nzme</td>
                    <td sec:authorize="hasAnyAuthority('USER','ADMIN')"><a th:href="${'/movie/show/' + movie.id}">View</a></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/movie/edit/' + movie.id}">Edit</a></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/movie/delete/' + movie.id}">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>